<header class="header">
    <div class="logo">
      <span>acme</span>
      <span class="dot">.</span>
    </div>
    <div class="header-actions">
      <mat-icon (click)="onSearch()">search</mat-icon>
      <mat-icon (click)="onNotifications()">notifications</mat-icon>
      <div class="user-profile" *ngIf="user">
        <img [src]="user.avatar" alt="User Avatar" class="avatar" />
        <div class="user-info">
          <span class="user-name">{{ user.name }}</span>
          <span class="user-role">{{ user.role }}</span>
        </div>
      </div>
    </div>
  </header>